@{
    ViewBag.SampleName = "Layering";
    ViewBag.SEODescription = "View an EndGate sample that showcases how layer graphics on the game screen.";
    Layout = "~/Views/Shared/_SamplesLayout.cshtml";
}

<div class="page-header section_header">
    <h3>@ViewBag.SampleName</h3>
    <p>Demonstrates how to control the layering of graphics.</p>
</div>

<div class="row ">
    <div class="form-search well span3 text-center">
        <fieldset>
            <legend class="text-center">Red Rectangle</legend>
            <p id="redRectController">
                <button class="btn btn-primary subtractZIndex pull-left">-</button><span class="zindex">0</span>
                <button class="btn btn-inverse addZIndex pull-right">+</button></p>
        </fieldset>
    </div>

    <div class="form-search well span4 text-center">
        <fieldset>
            <legend class="text-center">Green Rectangle</legend>
            <p id="greenRectController">
                <button class="btn btn-primary subtractZIndex pull-left">-</button><span class="zindex">0</span>
                <button class="btn btn-inverse addZIndex pull-right">+</button></p>
        </fieldset>
    </div>

    <div class="form-search well span3 text-center">
        <fieldset>
            <legend class="text-center">Blue Circle</legend>
            <p id="blueCircleController">
                <button class="btn btn-primary subtractZIndex pull-left">-</button><span class="zindex">0</span>
                <button class="btn btn-inverse addZIndex pull-right">+</button></p>
        </fieldset>
    </div>
</div>

<div class="row">
    <div id="gameHolder" class="form-vertical well" style="height: 400px;">
    </div>
</div>

@section scripts {
    <script data-typescript="true" src="~/Content/Samples/Layering/LayerController.js"></script>
    <script data-typescript="true" src="~/Content/Samples/Layering/World.js"></script>
    <script data-typescript="true" src="~/Content/Samples/Layering/Game.js"></script>
    <script data-typescript="true" src="~/Content/Samples/Layering/Main.js"></script>
}