@{
    ViewBag.SampleName = "Shapes";
    ViewBag.SEODescription = "View an EndGate sample that showcases the various graphic shape objects.  The shapes include rectangles and circles.";
    Layout = "~/Views/Shared/_SamplesLayout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/themes/base/jquery-ui.css")

    <style>
        #gameHolder {
            margin-left:0px;
        }

        .slider-horizontal {
            float: left;
            width: 125px;
            height: 10px;
            margin: 7px;
            font-size: 12px;
        }

        .ui-slider-handle {
            border-color: #317eac;
        }

        .redColorPicker .ui-slider-range {
            background: #ef2929;
        }

        .redColorPicker .ui-slider-handle {
            border-color: #ef2929;
        }

        .greenColorPicker .ui-slider-range {
            background: #8ae234;
        }

        .greenColorPicker .ui-slider-handle {
            border-color: #8ae234;
        }

        .blueColorPicker .ui-slider-range {
            background: #729fcf;
        }

        .blueColorPicker .ui-slider-handle {
            border-color: #729fcf;
        }
    </style>
}

<div class="page-header section_header">
    <h3>@ViewBag.SampleName</h3>
    <p>Demonstrates how to use the shapes graphics library.</p>
</div>

<div class="row well ui-widget-content">
    <div class="span2 well" style="margin: 0px; margin-left: 60px; height: 148px;">
        <h4 class="text-center">Shape</h4>
        <button shape="Rectangle" class="shapeBuilder btn btn-block">Rect</button>
        <button shape="Circle" class="shapeBuilder btn btn-block">Circle</button>
    </div>
    <div class="span2 well" style="margin-bottom: 0px; height: 148px;">
        <h4 class="text-center">Color</h4>
        <div id="redColorPicker" class="slider-horizontal redColorPicker"></div>
        <div id="greenColorPicker" class="slider-horizontal greenColorPicker"></div>
        <div id="blueColorPicker" class="slider-horizontal blueColorPicker"></div>
    </div>
    <div class="span2 well" style="margin-bottom: 0px; height: 148px;">
        <h4 class="text-center">Rotation</h4>
        <div id="rotationSlider" class="slider-horizontal"></div>
        <h4 class="text-center">Position</h4>
        <div id="positionXSlider" class="slider-horizontal"></div>
        <div id="positionYSlider" class="slider-horizontal"></div>
    </div>
    <div class="span2 well" style="margin-bottom: 0px; height: 148px;">
        <h4 class="text-center">Opacity</h4>
        <div id="opacitySlider" class="slider-horizontal"></div>
        <h4 class="text-center">Size</h4>
        <div id="widthSlider" class="slider-horizontal"></div>
        <div id="heightSlider" class="slider-horizontal"></div>
    </div>
</div>

<div class="row">
    <div class="span3 well ui-widget-content" style="margin-left: 0px; height: 446px; width: 180px;">
        <div class="span2 well" style="margin-left: 0px; height: 148px;">
            <h4 class="text-center">Border</h4>
            <div id="borderThickness" class="slider-horizontal"></div>
            <div id="borderRed" class="slider-horizontal redColorPicker"></div>
            <div id="borderGreen" class="slider-horizontal greenColorPicker"></div>
            <div id="borderBlue" class="slider-horizontal blueColorPicker"></div>
        </div>

        <div class="span2 well" style="margin-left: 0px; height: 198px;">
            <h4 class="text-center">Shadow</h4>
            <div id="shadowX" class="slider-horizontal"></div>
            <div id="shadowY" class="slider-horizontal"></div>
            <div id="shadowColorRed" class="slider-horizontal redColorPicker"></div>
            <div id="shadowColorGreen" class="slider-horizontal greenColorPicker"></div>
            <div id="shadowColorBlue" class="slider-horizontal blueColorPicker"></div>
            <div id="shadowBlur" class="slider-horizontal"></div>
        </div>
    </div>
    <div id="gameHolder" class="well span8" style="height: 446px; width: 678px;">
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/jquery-ui-1.10.2.js")
    <script data-typescript="true" src="~/Content/Samples/Shapes/ColorPicker.js"></script>
    <script data-typescript="true" src="~/Content/Samples/Shapes/CustomSlider.js"></script>
    <script data-typescript="true" src="~/Content/Samples/Shapes/Game.js"></script>
    <script data-typescript="true" src="~/Content/Samples/Shapes/Main.js"></script>
}