.boxrow .span4 {
  background: white;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px 0px #e0e0e0;
  -moz-box-shadow: 0px 0px 8px 0px #e0e0e0;
  box-shadow: 0px 0px 8px 0px #e0e0e0;
}
.boxrow .span4 .img {
  position: relative;
}
.boxrow .span4 .text {
  margin: 18px auto 0;
  width: 83%;
}
.boxrow .span4 .text h5 {
  margin: 0 0 8px 0;
  font-size: 20px;
  line-height: 23px;
}
.boxrow .span4 .text h5 a {
  color: #333;
}
.boxrow .span4 .author_box {
  margin: 12px auto 20px;
  border-top: 1px solid #ededed;
  overflow: hidden;
  text-align: left;
  width: 85%;
  padding-top: 12px;
}
.boxrow .span4 .author_box h6 {
  margin: 0 0 3px 0;
  font-size: 13px;
  line-height: 15px;
  font-style: italic;
  font-weight: normal;
  color: #b2b2b2;
}
.boxrow .span4.last {
  margin-right: 0;
}
.boxrow .span4:hover {
  -webkit-box-shadow: 0px 1px 5px 1px #d8d8d8;
  -moz-box-shadow: 0px 1px 5px 1px #d8d8d8;
  box-shadow: 0px 1px 5px 1px #d8d8d8;
}
.boxrow .span4:hover .text h5 a {
  color: #1189D9;
}
